<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="~/Content/FeedStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="navbar">
        
            <img src="~/Image/logo.png"/>
        
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
